<div class="signout-container">
    <h2>Sign Out</h2>
    <p>Are you sure you want to sign out?</p>
    <div class="signout-buttons">
        <a href="/logout" class="button signout-button">Yes, Sign Out</a>
        <a href="/" class="button cancel-button">Cancel</a>
    </div>
</div>
