<form id="search-form" action="/search" method="GET">
  <input
    type="text"
    id="search-input"
    name="query"
    placeholder="Search for an artist..."
  />
  <select name="style">
    <option value="">Any Style</option>
    <option value="anime">Anime</option>
    <option value="chibi">Chibi</option>
    <option value="realism">Realism</option>
  </select>
  <button type="submit">Search</button>
</form>
<section id="artist-list">
  <h2>Artists</h2>
  <ul id="artists">
    {{#each artists}}
      {{> artistCard this}}
    {{/each}}
  </ul>
</section>
<script src="/js/browse.js"></script>