<main>
    <h2>Welcome to Artfinder!</h2>
    <p>ArtFinder is an open source website where <strong>YOU</strong> can search up your favorite artists! And even add your favorite artist if we don't have them in our database!</p>
</main>

