<main class="signout-container">
  <h1>Sign Out</h1>
  <p>Are you sure you want to sign out?</p>
  <div class="signout-buttons">
    <a href="/logout" class="button signout-button">Yes, Sign Out</a>
    <a href="/" class="button cancel-button">Cancel</a>
  </div>
</main>